<%= form_for([@category, @item]) do |form| %>
    <p>
        <%= form.label :name %><br>
        <%= form.text_field :name, required: true, autofocus: true, placeholder: "Enter name"  %>
    </p>

    <p>
        <%= form.label :price %><br>
        <%= form.number_field :price, required: true, placeholder: "Full price"  %>
    </p>


    <p>
        <%= form.label :price %><br>
        <%= form.number_field :price, required: true, placeholder: "Half price"  %>
    </p>
    
    
    <p>
        <%= form.submit %>
    </p>
<% end %>